/* ========================= */
/* TodoList Component */
/* ========================= */

/* TodoList */
.TodoList.container {
  max-width: 650px;
  margin: 3rem auto;
}

/* Todolist Header */
.TodoList-header {
  font-size: 2rem;
  margin: 0;
}
